<?xml version="1.0" encoding="utf-8"?>
<robot name="panther" xmlns:xacro="http://wiki.ros.org/xacro">



  <xacro:arg name="panther_version" default="1.0" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_gpu" default="false" />
  <xacro:arg name="imu_pos_x" default="0.169" />
  <xacro:arg name="imu_pos_y" default="0.025" />
  <xacro:arg name="imu_pos_z" default="0.092" />
  <xacro:arg name="imu_rot_r" default="0.0" />
  <xacro:arg name="imu_rot_p" default="0.0" />
  <xacro:arg name="imu_rot_y" default="-1.57" />
  <xacro:arg name="simulation_engine" default="ignition-gazebo" />
  <xacro:arg name="wheel_config_file"
    default="$(find panther_description)/config/WH01.yaml" />
  <xacro:arg name="controller_config_file"
    default="$(find panther_controller)/config/WH01_controller.yaml" />
  <xacro:arg name="battery_config_file"
    default="$(find panther_description)/config/battery_ign_plugin.yaml" />
  <xacro:arg name="namespace" default="" />


  <!-- default code for getting panther in the gazebo env -->
  <xacro:include filename="$(find panther_description)/urdf/panther_macro.urdf.xacro" ns="husarion" />
  <xacro:husarion.panther_robot
    panther_version="$(arg panther_version)"
    use_sim="$(arg use_sim)"
    imu_pos_x="$(arg imu_pos_x)"
    imu_pos_y="$(arg imu_pos_y)"
    imu_pos_z="$(arg imu_pos_z)"
    imu_rot_r="$(arg imu_rot_r)"
    imu_rot_p="$(arg imu_rot_p)"
    imu_rot_y="$(arg imu_rot_y)"
    simulation_engine="$(arg simulation_engine)"
    wheel_config_file="$(arg wheel_config_file)"
    controller_config_file="$(arg controller_config_file)"
    battery_config_file="$(arg battery_config_file)"
    namespace="$(arg namespace)" />


  <!-- Additional code for getting the UWB Tag -->
  <!-- We need define the parent link to which the lidar is going to be attached -->
  <!-- we are setting the Tag to the cover link(this is provided by the panther team and is also physically available) -->
  <xacro:include filename="$(find custom_panther_3)/urdf/uwb_tag.urdf.xacro" ns="uwb_tag" />
  <xacro:uwb_tag.uwb_tag_model
    parent_link="cover_link"
    xyz="0.15 0.2 0.0"
    rpy="0.0 0.0 0.0" />

  <!-- adding the ground truth publisher plugin to the robot  -->
  <!-- still need to test out, if its actuall the robots baselink pose -->
  <!-- also the topic on which the pose is going to be published is not known -->
  <gazebo>
    <plugin
      filename="ignition-gazebo-pose-publisher-system"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>true</publish_link_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_nested_model_pose>false</publish_nested_model_pose>
      <publish_model_pose>false</publish_model_pose>
      <update_frequency>10</update_frequency>
      <use_pose_vector_msg>true</use_pose_vector_msg>
    </plugin>
  </gazebo>


</robot>
